
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --BASE-COLOR: #11121a;
    --LINE-COLOR: #42434a;
    --HOVER-COLOR: #222533;
    --TEXT-COLOR: #e6e6ef;
    --ACCENT-COLOR: #5e63ff;
    --SECONDARY-TEXT-COLOR: #b0b3c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font: inherit;
}


html {
    font-family: Poppins, 'Segoe UI', sans-serif;
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    background-color: var(--BASE-COLOR);
    color: var(--TEXT-COLOR);
    display: grid;
    grid-template-columns: auto 1fr;
}

.container {
    margin: 1rem;
    border: 1px solid var(--LINE-COLOR);
    border-radius: 5px;
    padding: 1rem;
}

#sidebar {
    min-height: 100vh;
    width: 250px;
    padding: 5px 1em;
    border-right: 1px solid var(--LINE-COLOR);

    /* sticky positioning so that when we scroll down, the sidebar will stay in place */
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;

    overflow: hidden;
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar ul {
    list-style-type: none;
}

/* have the logo stick to the right side*/

#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    align-items: center;
}

.logo {
    font-weight: 600;
}

/* setting a different style to the active tab */
#sidebar ul li.active a {
    color: var(--ACCENT-COLOR);
    svg {
        fill: var(--ACCENT-COLOR);
    }
}

#sidebar a, #sidebar .dropdown-button, #siderbar .logo {
    border-radius: 0.5em;
    display: flex;
    text-decoration: none;
    color: var(--TEXT-COLOR);
    align-items: center;
    padding: 1em;
    gap: 1em; /* to separate the icon from teh text */
}

/* since the dropdown button is a button, we need some styles to make it look like the <a> elements */
.dropdown-button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

#sidebar svg {
    flex-shrink: 0; /* avoid distortions something ... ?*/
    fill: var(--TEXT-COLOR);
}

#sidebar a span, #sidebar .dropdown-button span {
    /* so that the span will take all the available space, pushing the other flex elements to the sides 
    so that the little button of the Create item will be in the end of the line */ 
    flex-grow: 1;
}

#sidebar a:hover, .dropdown-button:hover {
    background-color: var(--HOVER-COLOR);
}

/* || SUB MENU OPEN AND CLOSE */

/* this is a trick to open and close the sub-menu with transition, meaning smooth open and close and not at once */
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

/* the drop-down menu arrow rotated */
.dropdown-button svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: 180deg;
}

/* have the submenu items idented */
#sidebar .sub-menu a {
    padding-left: 2em;
}

/* || TOGGLE BUTTON */
#toggle-button {
    padding: 1em;
    flex-shrink: 0;
    margin-left: auto;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        transition: rotate ease 150ms;
    }
}

#toggle-button:hover {
    background-color: var(--HOVER-COLOR);
}